asgiref
autoflake
autopep8
certifi
chardet
Django
flake8
greenlet
idna
isort
jedi
mccabe
msgpack
parso
pluggy
pycodestyle
pyflakes
pynvim
python-jsonrpc-server
python-language-server
pytz
requests
rope
sqlparse
toml
ujson
urllib3
